* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #c1b5ad;
}

ul > button {
	margin-left: 4px;
}

#map {
	height: 100vh;
	width: 100vw;
}

#navbar {
	display: flex;
	position: absolute;
	width: 100%;
	height: 5%;
	background-color: orangered;
	z-index: 2;
}

#rightcolumn {
	display: flex;
	flex-flow: column;
	position: absolute;
	width: 31%;
	height: 100%;
	right: 0;
	top: 0;
}

#dropdowns {
	padding: 15% 5%;
	background-color: tan;
	flex: 1 1 50%;
}

#itenerary {
	padding: 5% 5%;
	background-color: mediumspringgreen;
	flex: 1 1 50%;
	width: 100%;
	align-self: flex-end;
}

#itenerarytitle {
	padding: 5% 5%;
	background-color: gold;
	margin-top: 5%;
	width: 100%;
}
